@tailwind base;
@tailwind components;
@tailwind utilities;

/* .carousel-item {
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-item.hidden {
  opacity: 0;
  z-index: -1;
}

.carousel-item.enter-left {
  transform: translateX(-100%);
}

.carousel-item.enter-right {
  transform: translateX(100%);
}

.carousel-item.enter-top {
  transform: translateY(-100%);
}

.carousel-item.enter-bottom {
  transform: translateY(100%);
} */

/* Carousel.css */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel__images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel__image-wrapper {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel__image {
  width: 100%;
  cursor: pointer;
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.carousel__arrow--left {
  left: 10px;
}

.carousel__arrow--right {
  right: 10px;
}
