@tailwind base;
@tailwind components;
@tailwind utilities;

/* .carousel-item {
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-item.hidden {
  opacity: 0;
  z-index: -1;
}

.carousel-item.enter-left {
  transform: translateX(-100%);
}

.carousel-item.enter-right {
  transform: translateX(100%);
}

.carousel-item.enter-top {
  transform: translateY(-100%);
}

.carousel-item.enter-bottom {
  transform: translateY(100%);
} */
