@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */

/* Custom scrollbar for WebKit browsers */

/* Firefox */
:root {
  --scrollbar-thumb-bg: #4a4a4a;
  --scrollbar-thumb-bg-light: #797979;
  /* --scrollbar-thumb-bg: #ff8002; */
  --scrollbar-track-bg: #1c1c1c;
  --scrollbar-track-bg-light: #e1e1e1;
  --scrollbar-width: 8px;
}

*[data-theme='dark'] {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
}
*[data-theme='dark'] * {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
}

*[data-theme='dark'] ::-webkit-scrollbar {
  width: var(--scrollbar-width); /* Thin scrollbar width */
}

*[data-theme='dark'] ::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg); /* Dark gray background */
  border-radius: 10px; /* Rounded corners for track */
}

*[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg); /* Orange movable track */
  border-radius: 10px; /* Rounded corners for thumb */
}
/* Light Theme */
*[data-theme='light'] {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: var(--scrollbar-thumb-bg-light) var(--scrollbar-track-bg-light);
}
*[data-theme='light'] * {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: var(--scrollbar-thumb-bg-light) var(--scrollbar-track-bg-light);
}

*[data-theme='light'] ::-webkit-scrollbar {
  width: var(--scrollbar-width); /* Thin scrollbar width */
}

*[data-theme='light'] ::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg-light); /* light gray background */
  border-radius: 10px; /* Rounded corners for track */
}

*[data-theme='light'] ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg-light); /* Orange movable track */
  border-radius: 10px; /* Rounded corners for thumb */
}

/* WebKit Browsers */
/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* Firefox */

/* Global styles or specific component CSS */

/* .carousel-item {
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-item.hidden {
  opacity: 0;
  z-index: -1;
}

.carousel-item.enter-left {
  transform: translateX(-100%);
}

.carousel-item.enter-right {
  transform: translateX(100%);
}

.carousel-item.enter-top {
  transform: translateY(-100%);
}

.carousel-item.enter-bottom {
  transform: translateY(100%);
} */

/* Carousel.css */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel__images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel__image-wrapper {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel__image {
  width: 100%;
  cursor: pointer;
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
